trigger:
- master
pool:
 vmImage: ubuntu-latest
parameters:
- name: prodName
  displayName: Product to Build
  type: string
  default: 'nginx'
- name: registry
  displayName: Registry Hostname
  type: string
  default: 'elinaf.jfrog.io'
- name: targetRepo
  displayName: Target Repo to push to
  type: string
  default: 'gabrin-docker'
 
variables:
 prodName: ${{ parameters.prodName }}
 registry: ${{ parameters.registry }}
 targetRepo: ${{ parameters.targetRepo }}
 buildContext: 'test-$(prodName)'
 imageNameTb: '$(registry)/$(targetRepo)/test-$(prodName)'
 imageNameBase: '$(registry)/$(targetRepo)/$(prodName)'
 
steps:
   - task: ArtifactoryToolsInstaller@1
     displayName: 'Install Build deps'
     inputs:
       artifactoryService: 'elinaf'
       cliInstallationRepo: 'edenb-cloud-artifactoryv1'
   - task: JfrogCliV2@1
     name: jfrogCLI
     inputs:
       jfrogPlatformConnection: 'hts2' # Artifacotry platform connection
       command: 'jf rt ping'
 
   - task: ArtifactoryDocker@1
     displayName: 'Pull Image'
     inputs:
       command: 'pull'
       artifactoryService: 'elinaf'
       sourceRepo: 'gavri-docker'
       imageName: '$(imageNameBase)'
 
   - task: Docker@2
     displayName: 'Build Image'
     inputs:
       containerRegistry: 'hts2-docker'
       repository: '$(targetRepo)/$(buildContext)'
       command: 'build'
       Dockerfile: '$(Build.SourcesDirectory)/Dockerfile'
       arguments: '--build-arg BASEIMAGE=$(imageNameBase)'
       tags: |
         $(Build.BuildNumber)
  
   - task: ArtifactoryDocker@1
     displayName: 'Push Image'
     inputs:
       command: 'push'
       artifactoryService: 'hts2'
       targetRepo: 'gavri-docker'
       imageName: '$(imageNameTb):$(Build.BuildNumber)'
       collectBuildInfo: true
       buildName: '$(Build.DefinitionName)'
       buildNumber: '$(Build.BuildNumber)'
       includeEnvVars: true
 
   - task: ArtifactoryPublishBuildInfo@1
     displayName: 'Publish Build Info'
     inputs:
       artifactoryService: 'elinaf'
       buildName: '$(Build.DefinitionName)'
       buildNumber: '$(Build.BuildNumber)'
  
   - task: ArtifactoryXrayScan@1
     displayName: 'Xray Scan'
     inputs:
       artifactoryService: 'elinaf'
       buildName: '$(Build.DefinitionName)'
       buildNumber: '$(Build.BuildNumber)'
       allowFailBuild: true
